# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# --------------------
# Env files / Secrets
# --------------------
.env
.env.*

# --------------------
# Databases
# --------------------
*.sqlite3
*.db
*.db-journal

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# --------------------
# Logs
# --------------------
*.log
logs/
*.out
*.err

# --------------------
# Python packaging
# --------------------
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
*.manifest
*.spec

# --------------------
# Pytest / coverage
# --------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# --------------------
# Mypy / Pyre / Pylint
# --------------------
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# --------------------
# Misc
# --------------------
*.DS_Store
*.swp
*.swo
